.page-heading {
  margin-bottom: toRem(40px);
}

.page-info {
  margin-top: toRem(18px);
}

.form-wrapper {
  width: 100%;
}

.form {
  &-group {
    margin-bottom: toRem(16px);

    &--btn {
      margin-top: 43px;
      margin-bottom: 26px;
    }

    &--checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(12px);
      padding-top: 5px;

      .form__info-text {
        margin-left: 6px;
      }
    }

    &--checkbox + .form-group--btn {
      margin-top: 35px;
    }

    &--icon {
      position: relative;

      & > .icon {
        position: absolute;
        top: 9px;
        right: 10px;
        padding: 10px;
        box-sizing: content-box;
        cursor: pointer;
      }
    }
  }

  &-group--error {
    margin-bottom: toRem(32px);
  }

  &__label {

  }

  

  &__control {
    font-family: $primary-font;
    font-weight: 400;
    padding: 0 23px;
    min-height: toRem(52px);
    color: $primary-dark-color;
    background-color: $inverse-color;
    border: 1px solid $border-control-color;
    border-radius: $border-primary-radius;
    width: 100%;
    transition: border-color .2s ease-in-out;
    line-height: toRem(14px);
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      font-size: 16px;
      line-height: 16px;
    }


    &::-webkit-input-placeholder {
      font-size: 16px;
      color: $primary-dark-color;
      line-height: 16px;
      font-family: $primary-font;
      font-weight: 400;
    }
    &::-moz-placeholder {
      font-size: toRem(14px);
      color: $primary-dark-color;
      line-height: toRem(52px);
      font-family: $primary-font;
      font-weight: 400;
    }
    &:-ms-input-placeholder {
      font-size: toRem(14px);
      color: $primary-dark-color;
      line-height: toRem(14px);
      font-family: $primary-font;
      font-weight: 400;
    }

    &:focus {
      border-color: $border-control-focus-color;
      outline: 0;
    }
  }

  &__control--round {
    border-radius: 50px;
  }

  &__control-area {
    padding: 20px 23px;
    resize: none;
  }

  &__info-text {
    font-size: toRem(12px);
  }
}

// input.form__control {
//   line-height: toRem(52px);
// }

.form-group-two-column {
  display: flex;
  margin-bottom: toRem(7px);

  .form-group {
    width: 50%;
  }

  .form-group:first-child {
    margin-right: 10px;
  }

  .form-group:last-child {
    margin-left: 10px;
  }
}

.form .has-error {
  position: relative;

  .form__control,
  .dropdown__toggle,
  .checkbox label:before {
    border-color: $primary-brand-color;
  }

  &.form-group--icon .error,
  .dropdown-wrapper + .error {
    right: 60px;
  }
}

.form--md {
  max-width: toRem(392px);
  margin: 0 auto;
}

.form--xmd {
  max-width: toRem(608px);
  margin: 0 auto;
}

.form--lg {
  max-width: toRem(744px);
  margin: 0 auto;
}

// Form elements
.checkbox {
  position: relative;
  line-height: toRem(10px);

  label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
    cursor: pointer;
    min-width: 22px;
    min-height: 22px;
  }

  label:before,
  label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 22px;
    z-index: $z-index-1;
  }

  label:before {
    background-color: $inverse-color;
    border: 1px solid $neutral-light-color;
  }

  label:after {
    margin-top: 1px;
    margin-left: 1px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNjcxIDU2NnEwIDQwLTI4IDY4bC03MjQgNzI0LTEzNiAxMzZxLTI4IDI4LTY4IDI4dC02OC0yOGwtMTM2LTEzNi0zNjItMzYycS0yOC0yOC0yOC02OHQyOC02OGwxMzYtMTM2cTI4LTI4IDY4LTI4dDY4IDI4bDI5NCAyOTUgNjU2LTY1N3EyOC0yOCA2OC0yOHQ2OCAyOGwxMzYgMTM2cTI4IDI4IDI4IDY4eiIgZmlsbD0iIzAwIi8+PC9zdmc+);
    background-size: 12px;
    background-repeat: no-repeat;
    transition: transform .1s ease-in-out;
    background-position: 50% 50%;
    transform: scale(0);
    z-index: $z-index-1 + 1;
  }

  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type=checkbox]:checked + label:after {
    transform: scale(1);
  }
}

.is-submitted {
  .btn[type=submit] {
    // & > span {
    //   opacity: 0;
    // }

    // .loader {
    //   opacity: 1;
    // }
  }
}

// Clear yellow color for form elements
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: $primary-dark-color !important;
  -webkit-text-fill-color: $primary-dark-color;
  -webkit-box-shadow: 0 0 0 30px $inverse-color inset;
  transition: background-color 5000s ease-in-out 0s;
}

.code {
  font-size: toRem(12px);
  line-height: toRem(24px);
  font-family: $primary-font;
  font-weight: 400;
  padding: 15px;
  min-height: toRem(52px);
  color: $primary-dark-color;
  background-color: $inverse-color;
  border: 1px solid $border-control-color;
  white-space: pre-wrap;
  word-wrap: break-word;
}
