// ==========================================================================
// Progress bars
// ==========================================================================
.progress {
  position: relative;

  &__inner {

  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
  }
}
